.chip {
  background-color: #38bdf833;
  padding: .2rem .8rem;
  color: #38BDF8;
  border-radius: 1em;
  font-size: .8em;
  pointer-events: none;
}

.skeletonChip {
  padding: .5rem .8rem;
  background-color: #38bdf833;
}