main {
  border: 2px solid transparent;
  padding: 1rem;
  border-image: linear-gradient(to bottom right, #38BDF8, #38bdf833) 1;
}


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  border-radius: .5rem;
  min-height: 600px;
}

.titleApp {
  font-size: 2.4em;
  color: #38BDF8;
}